/* Basislayout */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

html, body {
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
    background-color: #333333;  
    color: white;
    font-family: 'Texturina', serif;
}

header {
    color: red;
    text-align: center;
    font-family: 'Arial Narrow Bold', sans-serif;
}

main {
  margin-left: 200px;
}

footer {
    text-align: center;
    padding-bottom: 10px;
}



/* navigatiebalk */
.navigatie {
  font-family: 'Rubik', sans-serif;
  height: 100%;
  width: 200px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f53131;
  padding-top: 210px;
    border-style: none none none solid;
  border-width: 7px;
  border-color: darkred;
}

/* navigatiebalk anchor links en tekst */
.navigatie a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: transform 0.4s;
  margin-right: 10%;

}

/* navigatiebalk anchor links en tekst als je erover heen gaat met je cursor*/
.navigatie a:hover {
  transform: scale(1.1);
  color: black;
}

/* navigatiebalk logo */

#nlogo {
  width: 120px;
  height: 120px;
  margin-bottom: 10px;
  margin-left: 13px;
  transition: transform .2s;
  
}

/* navigatiebalk logo als je erover heen gaat*/
#nlogo:hover {
  transform: scale(1.5);
}

/* footer */
footer {
  text-align: center;
  padding: 10px;
  background-color: #f53131;
  color: white;
  width:100%;
  position: absolute;
  bottom: 0px;
 font-family: 'Comfortaa', cursive;
}


/* h1 tags */
h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

/* p tag die wordt gebruikt bij index.html */
p.home {
  text-align: center;
  margin: 40px;
  font-size: 18px;
  font-family: 'Comfortaa', cursive;
}


/* p tag text bij de bedankt.html */
.bedankt {
    text-align: center;
  margin: 40px;
  font-family: 'Comfortaa', cursive;

}

/* als je over de footer heen gaat met je cursor */
footer p:hover {
  color: #333333;
}


/* footer tekst onder Jimmy Tran */
p.smalltext {
  font-size: 10px;
}



/* p tag met class faq tekst styling */
.faq {
    text-align: center;
  margin: 40px;
  font-family: 'Comfortaa', cursive;
}


/* ervaring horizontale bars styling */
.container {
  width: 50%;
  background-color: #333333;
  margin-left: 30%;
}

.skills {
  text-align: right;
  margin-left: 30%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-family: 'Comfortaa';
}

.html {
  width: 70%; 
  background-color: #f53131;
  margin-left: 20%;
  }
.css {
  width: 55%; 
  margin-left: 20%; 
  background-color: #f53131;
  }
.phs {
width: 78%;  
margin-left: 20%; 
background-color: #f53131;
}

.ps, .ht, .cs{
  margin-left: 40%;
}

/* input tag styling */
input {
  border-style: none none solid none;
  border-color: #f53131;
  background-color: #333333;
  color: white;
  caret-color: f53131;
  padding: 10px;
  font-family: font-family, 'Roboto Mono', monospace;
  outline: none;
  font-size: 14pt;
  width: 300px;
  text-align: center;
}
/* knop bij de Contactus.html */
.button {
  background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* form tag styling */
form {
  font-size: 30px;
  font-family: 'Rubik';
  text-align: center;
}


#text {
  align-items: center;
}


h1 {
  font-family: sans-serif;
  color: white;
}

#faq {
  color: #f53131;
}

/* footer anchorlink */

.aft {
  text-decoration: none;
  color: white;

}


.aft:hover {
  text-decoration: none;
  color: black;
  
}
/* responsive css wanneer de scherm width 600px is */
@media screen and (max-width: 600px) {
.navigatie {
  font-family: 'Rubik', sans-serif;
  height: 100%;
  width: 190px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f53131;
  padding-top: 20px;
    border-style: none none none solid;
  border-width: 7px;
  border-color: darkred;
}

/* css stijl van een anchor tag in de div van navigatie */

.navigatie a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: transform 0.4s;

}

/* Wanneer een persoon met de muis overheen gaat */

.navigatie a:hover {
  transform: scale(1.1);
  color: black;
}

/* Navigatie logo + Hover over de navigatie logo */

#nlogo {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  margin-left: 13px;
  transition: transform .2s;
  
}

#nlogo:hover {
  transform: scale(1.5);
}
/* footer weghalen als de beeldscherm kleiner is */
footer {
  display: none;
}
/* footer anchor link weghalen als de beeldscherm kleiner is */
.aft {
  display: none;
}

/* de p tag met  class home tekst verkleinen als de beeldscherm kleiner is.*/

p.home {
  text-align: center;
  margin: 40px;
  font-size: 14px;
  font-family: 'Comfortaa', cursive;
}


}
